<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/rickiMorty/dashboard">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="characters" href="/rickiMorty/characters">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Characters</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="episodes" href="/rickiMorty/episodes">
      <ion-icon aria-hidden="true" name="film-outline"></ion-icon>
      <ion-label>Episodes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="locations" href="/rickiMorty/locations">
      <ion-icon aria-hidden="true" name="location-outline"></ion-icon>
      <ion-label>Locations</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
